* {
    margin: 0;
    padding: 0;
}

.starlink-container{
    background: rgb(15,16,17);
    width: 60vh;
    height: 30vh;
    margin: 2em 0;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    line-height: 1.5;
    align-items: baseline;
    justify-content: space-around;
    padding-left: 2em;
    border-radius: 10%;
}

.list-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.starlink-name{
    font-size: 1.5em;
    font-weight: 400;
}

.starlink-launch{
    color: white;
    text-decoration: none;
}