* {
    margin: 0;
    padding: 0;
}

.starlink-container{
    background: rgb(15,16,17);
    width: 60vh;
    height: 30vh;
    margin: 5em 0;
    color: white;
    display: grid;
    

}

.list-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
