
.About-page-container{
    display:flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-around;
    /* background-color: green; */
}

.about-text{
    color: white;
    background-color: rgb(15,16,17);
    font-size: 2em;
    width: 70vw;
    line-height: 1.5;
    padding: 2em;
    border-radius: 2em;
}

@media (max-width: 850px) {

    
.about-text{
    width: 100%;
    padding: 0.5em;
}


}