*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
.LaunchDetails-page-container{
  
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around
}
.launchDetails-data{
    color:azure;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.launchDetails-container{

}
.data-list{
    display: flex;
    justify-content: space-between;
    width: 70vw;
    border-bottom: solid white 0.1em;
    font-size: 2em;
    line-height: 1.5;
}
.Video-wrapper{
    height:25em;
    width: 50em; 
}
iframe{
    height: 100%;
    width:100%;
}
@media ( max-width:900px ){
    .data-list, .launchDetails-container, .launchDetails-data {
        width: 100%
    }
}