* {
    margin: 0;
    padding: 0
}

.nav-bar{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr ;
    list-style: none;
    width:100%;
    line-height: 4
}

.nav-link{
    text-decoration: none;
}

.nav-list{
    text-decoration: none;
    color:white;
    background-color: black;
    height: 100%;
    font-size: 2em;
    font-weight: bolder;
    
}
.nav-link:hover, .nav-list:hover{
    text-decoration: underline;
    color: rgb(41, 95, 172);
}

@media  (max-width: 850px){
    .nav-bar{
        display: grid;
       grid-template-rows: 2;
       grid-template-columns: 3fr ;
       line-height: 1.5;
    }
    

}