@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');;
* {
    margin: 0;
    padding: 0;
    font-family:'Roboto',sans-serif
}


h2{
    color: rgb(41, 95, 172);
    text-align: left;
    margin-left: 2em;
    margin-top: 2em;
    font-size: 3em;
    
}

.launch-container{
    display:flex;
    flex-direction: column;
    
   

}

.launch-card {
    display: flex;
    box-shadow: 0 4px 15px 0 #fcfcfc33; 
    transition: box-shadow 0.3s;
    color: white;
    background-color: rgb(15, 16, 17);
    align-self: center;
    margin-top: 5em;  
    padding: 2em 
}
.launch-name-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}
.patch-details{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.launch-info{
    flex-grow: 1;
    font-size: 1.2em;
    line-height: 2;
    margin-top: 3em;
}

.launch-name{
    align-self: center;
    font-size: 3em;
    color: rgb(41, 95, 172);
    border-bottom: solid rgb(41, 95, 172) 0.1em;
  
}

.launch-date,.launch-success,.launch-upcoming,.launch-id{
    display: flex;
    justify-content: space-between;
    border-bottom: solid white 0.1em;
    align-self: center;
    
}

.launch-link {
    
   width: 30%;
   background-color: maroon;
    text-align: center;
    padding: 1rem;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    border-bottom-right-radius: 5%;
}


.launch-patch{
    height: 20em;
    width: 20em;
    align-self: center;
    margin-left: 5em;
}
.launch-patch>img{
    height: 100%;
    width: 100%;
    margin: 0;
}

@media (max-width: 850px){
    .launch-card{
        flex-direction: column;
        align-items: center;
    }
}